.search {
    margin:3em;
    padding:3em;
    background-color:#F4F4F4;
}

.card {
    color:#6a6b6d;
}

.form-uppercase {
    text-transform:uppercase;
    font-weight:bold;
}

.form-control {
    color:gray;
}

.car-arrangements {
    border-radius:2px;
    background-color:#F4F4F4;
    margin:5px;
}

.car-arrangements i {
    min-width:30px;
}

select .car-select-sort {
   margin:15px;
   width:50px;
}
.car-sort-form {
    margin-bottom:0;
}

.car-image-overlay {
    position:relative;
}
.car-p-overlay {
    position:absolute;
    color:white;
    z-index:5;
    left:5%;
    bottom:2%;
    font-size:1.3em;
}

.button-overlay-div {
    position:absolute;
    z-index:5;
    right:5%;
    bottom:8%;
}

.button-overlay {
    background:rgba(140, 140, 140, 0.19);
    border:none;
    border-radius:3px;
    color:rgba(255, 255, 255, 0.19);
    padding:9px;
}

.button-overlay:hover {
    background:rgba(140, 140, 140, 0.5);
    color:rgba(255, 255, 255, 0.5);
}

.card-row{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
}

.car-i {
    margin-right:15px;
}

.card-deck:first-child{
    margin-left:0;
}

.card-deck:last-child{
    margin-right:0;
}

