.nav {
    background-color:rgb(51,51,51);
    color:white;
    text-transform:uppercase;
    font-weight:bold;
}
#special {
    text-transform:none;
    padding-left:1em;
}

.nav-item {
    padding:0.7em;
}

li a {
    color:white;
}

li a:hover {
    color:darkgrey;
}

#line-left {
    border-left:1px solid white;
}

#padding-left {
    padding-left:1em;
}

#login-card{
    border:none;
}

.form-signin *{
    padding-top: 0.5em;
}

.login-title {
    padding:0.5em;
}

.forgot-password {
    color:black;
}


#search-input {
    margin-top:8px;
    border-radius:3px;
    border:none;

}

.search-hidden {
    transition:all 2s;
    position:absolute;
    right:-200px;
}

.search-showing {
    transition:all 2s;
}